<<<<<<< HEAD:stylesheet.css

=======
/* Styles for all pages */
>>>>>>> a1a9552181e1ca815a4db0470a419b029b7c96eb:styles.css
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 1em 0;
	color: #333;
}

form {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
	padding: 2em;
	margin: 2em auto;
	max-width: 600px;
}

label {
	display: block;
	font-size: 1.2em;
	color: #333;
	margin-bottom: 0.5em;
}

input {
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
	font-size: 1.2em;
}

button {
	padding: 1em;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #3e8e41;
}

/* Styles for registration page only */
body.registration-page {
	background-color: #f5f5f5;
	background-image: url("Registration Pic.jfif");
	background-size: cover;
  	background-position: center;
}

h1.registration-page {
	color: #333;
}

label.registration-page {
	color: #333;
}

input.registration-page {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

button.registration-page {
	background-color: #1e88e5;
}

button.registration-page:hover {
	background-color: #1565c0;
}


/* Styles for login page */
button[type="submit"] {
	background-color: #1e88e5;
	margin-left: 1em;
}

button[type="submit"]:hover {
	background-color: #1565c0;
}

.register {
	text-align: center;
  }
